.background {
  margin-top: 0;
  background-image: url("./../images/background.jpg");
  height: 100vh;
  width: 100vw;
}

.photo {
  margin-right: 15%;
  height: 240px;
  width: 240px;
  background-color: black;
  border-radius: 5%;
}

.content {
  margin: 0px 2% 0 2%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.textPresentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  margin: auto;
}

.textPresentation h1 {
  color: #e7dada;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.textPresentation p {
  margin-top: 2%;
  color: #6a6181;
}

.cardcustom {
  margin-top: 2%;
}

.photoimg {
  width: 10rem; /* taille fixe pour le cercle */
  height: 10rem; /* même taille que width */
  border-radius: 50%; /* cercle parfait */
  object-fit: cover;
  object-position: top; /* remonte le visage */
  display: block;
  border: 2px solid black;
}

.spacer {
  margin-top: 5%;
}

.footer {
  padding: 3%;
  background-color: #151120;
  width: 100%;
}

.link {
  text-decoration: none;
}
